
*{
  font-family: 'Times New Roman', Times, serif;
}
/* Page wrapper */
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #4f46e5, #6366f1); */
  background: linear-gradient(135deg, #8728be, #d1d1d1);
  padding: 20px;
}

/* Login card */
.login-card {
  background: #ffffff;
  width: 100%;
  max-width: 400px;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* Title */
.login-card h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #1f2937;
}

/* Form */
.login-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Inputs */
.login-card input {
  padding: 12px 14px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
  transition: border-color 0.2s ease;
}

.login-card input:focus {
  border-color: #6366f1;
}

/* Button */
.login-card button {
  margin-top: 10px;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  /* background-color: #4f46e5; */
  /* background-color: #6e1bce; */
  /* background-color: #027a16; */
  background-color: #000000;

  color: white;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.login-card button:hover {
  background-color: #019b09;


  
}

/* Register text */
.login-card p {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #4b5563;
}

.login-card a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 500;
}

.login-card a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 480px) {
  .login-card {
    padding: 25px 20px;
  }
}
